{% extends 'mainpage/base.html' %}
{% load static %}

{% block content %}

<h1 id="title">All Countries</h1>



<div id="cardholder">
    {% for country in countries %}
   
        <div class="card card-item"  style="width: 18rem;">
            <img src={{country.flag_url}} class="card-img-top" alt="flag img">
            <div>
            <h5>{{ country.name}}</h5>

            <p class="card-text">Region: {{country.region}}</p>
            <p>Population: {{country.population}}</p>
            <p>Last Updated:{{country.last_updated}}</p>
            <a href="{% url 'country_detail' country.pk %}" class="btn btn-primary">click for deatails</a><br>
            </div>

        </div>
   
    {% endfor %}
    </div>

{% endblock %}