{% extends 'mainpage/base.html' %}
{% load static %}

{% block content %}

<h1>All Countries</h1>



<div id="cardholder">
    {% for country in countries %}
   
        <div id="card">
            <img src={{country.flag_url}} alt="flag img">
            <a href="{% url 'country_detail' country.pk %}">{{ country.name}}</a><br>

            Region: {{country.region}}<br>
            Population: {{country.population}}<br>
            Last Updated:{{country.last_updated}}


        </div>
   
    {% endfor %}
    </div>

{% endblock %}