<form class="d-flex" method="GET" action="{% url 'search_results' %}"> 
            
    <div class="col-md-3">
        <select name="region" class="form-control">
            <option value="">Select Region</option>
            <option value="Asia" {% if region == "Asia" %}selected{% endif %}>Asia</option>
            <option value="Europe" {% if region == "Europe" %}selected{% endif %}>Europe</option>
            <option value="Africa" {% if region == "Africa" %}selected{% endif %}>Africa</option>
            <option value="Americas" {% if region == "Americas" %}selected{% endif %}>Americas</option>
            <option value="Oceania" {% if region == "Oceania" %}selected{% endif %}>Oceania</option>
        </select>
    </div>

    <button  class="btn btn-outline-primary"type="submit">Search</button>
</form>